@import "mocha.css";

* {
  all: unset;
  font-family: CaskaydiaCove Nerd Font;
  font-size: 14px;
  min-height: 0;
  font-weight: bold;
}

tooltip, tooltip * {
  color: @text;
  background-color: @surface0;
  text-shadow: none;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  background-color: @surface0;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-right: 4px;
}

#workspaces button {
  color: @lavender;
  padding-left: 1rem;
  padding-right: 1rem;
}

#workspaces button.active {
  color: @sky;
}

#custom-power-profile,
#custom-frigate,
#custom-borg,
#custom-updates,
#mpris,
#clock,
#pulseaudio,
#custom-lock,
#network,
#bluetooth,
#custom-notifications,
#custom-power {
  background-color: @surface0;
  padding: 0.4rem 0.8rem;
  margin: 0;
  margin-top: 0.5rem;
}

#clock {
  color: @flamingo;
  border-radius: 0px 0.5rem 0.5rem 0px;
  margin-right: 0.5rem;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0.5rem 0px 0px 0.5rem;
}

#mpris {
  color: @mauve;
  border-radius: 0.5rem;
}

#network {
  border-radius: 0.5rem 0px 0px 0.5rem;
  color: @green;
}

#bluetooth {
  margin-right: 0.5rem;
  border-radius: 0px 0.5rem 0.5rem 0px;
  color: @teal;
  padding-right: 0.4rem;
}

#bluetooth.active {
  color: @lavender;
}

#custom-lock {
    border-radius: 0.5rem 0px 0px 0.5rem;
    color: @sapphire;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 0.5rem 0.5rem 0px;
    color: @blue;
    padding-right: 0.5rem;
}

#custom-notifications {
  margin-right: 0.5rem;
  border-radius: 0.5rem;
}

#custom-borg {
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  color: @green;
}

#custom-borg.running {
  color: @yellow;
}

#custom-borg.stale,
#custom-borg.fail {
  color: @red;
}

#custom-borg.unknown {
  color: @overlay0;
}

#custom-updates {
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  color: @peach;
}

#custom-updates.none {
  background: none;
  padding: 0;
  margin: 0;
}

#custom-power-profile {
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  color: @green;
}

#custom-power-profile.balanced {
  color: @yellow;
}

#custom-power-profile.performance {
  color: @red;
}

#custom-frigate {
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  color: @green;
}

#custom-frigate.muted {
  color: @overlay0;
}

#tray {
  padding: 0.4rem 0.8rem;
  margin: 0rem 0.5rem;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
  background-color: @surface0;
}

#tray menu {
  background-color: @surface0;
  padding: 0.5rem;
}

#custom-power-profile:hover,
#custom-frigate:hover,
#custom-borg:hover,
#custom-updates:hover,
#mpris:hover,
#pulseaudio:hover,
#network:hover,
#bluetooth:hover,
#custom-notifications:hover,
#custom-lock:hover,
#custom-power:hover {
  color: @rosewater;
}
